.graphiql {
  &Main {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &Container {
    display: flex;
  }
}

.editors {
  &Panel {
    flex: 1 1 0%;
    min-width: 0;
  }

  &Container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    border-radius: 10px;
    background-color: var(--color-panel-bg);
  }
}

.response {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.responsePanel {
  flex: 1 1 0%;
  min-width: 0;
  height: 100%;
  display: flex;
}
