.loaderContainer {
  display: flex;
  justify-content: center;

  &_lg {
    .ldsDualRing {
      width: 80px;
      height: 80px;
    }

    .ldsDualRing::after {
      border-width: 6px;
      margin: 2px;
    }
  }

  &_md {
    .ldsDualRing {
      width: 50px;
      height: 50px;
    }

    .ldsDualRing::after {
      border-width: 4px;
      margin: 0px;
    }
  }

  &_sm {
    .ldsDualRing {
      width: 30px;
      height: 30px;
    }

    .ldsDualRing::after {
      border-width: 3px;
      margin: 0px;
    }
  }

  &_xs {
    .ldsDualRing {
      width: 20px;
      height: 20px;
    }

    .ldsDualRing::after {
      border-width: 2px;
      margin: 0px;
    }
  }
}

.ldsDualRing {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.ldsDualRing::after {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 6px solid var(--color-loader);
  border-color: var(--color-loader) transparent var(--color-loader) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
