.queryEditorContainer {
  flex: 1 1 0%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.queryEditor {
  flex: 1 1 0%;
  display: flex;
  padding: 0.5rem;

  &Text {
    flex: 1;
    margin-right: 0.5rem;
  }

  .playButton {
    background-color: var(--color-success);
    color: var(--color-text-light);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-success);
      }
    }
  }
}
