.queryEditorContainer {
  flex: 1 1 0%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.queryEditor {
  flex: 1 1 0%;
  display: flex;
  padding: 0.5rem;

  &Text {
    flex: 1;
    margin-right: 0.5rem;
  }

  &Toolbar {
    width: var(--button-size);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .requestButton {
    background-color: var(--color-success);
    color: var(--color-text-light);

    --color-loader: var(--color-text-light);

    &:active,
    &:active:hover {
      background-color: var(--color-text-m);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-success);
      }
    }
  }
}
