.header {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-text-xs);
  padding: 0.5rem;

  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  &Toolbar {
  }

  .collapseButton {
    color: var(--color-text-xm);
  }
}

.tabs {
  flex: 1 1 0%;
  padding: 0.5rem;
  display: block;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: 57px;

  &Collapsed {
    flex: 0;

    .tabs {
      display: none;
    }
  }
}

.tab {
  height: 100%;
  width: 100%;

  &Header {
    padding: 0.5rem;
    color: var(--color-text-m);
    border-radius: 5px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-bg);
        cursor: pointer;
      }
    }

    &Active {
      color: var(--color-text-l);
    }
  }
}
