.header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  border-top: 1px solid var(--color-text-xs);
  padding: 0.5rem;

  &Wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    overflow-x: auto;
  }

  .collapseButton {
    color: var(--color-text-xm);
  }
}

.headers {
  position: absolute;
  display: flex;
  column-gap: 0.5rem;
}

.tabs {
  flex: 1 1 0%;
  padding: 0.5rem;
  display: block;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;

  &Collapsed {
    flex: 0;
    min-height: 57px;

    .tabs {
      display: none;
    }
  }
}

.tab {
  height: 100%;
  width: 100%;

  &Header {
    padding: 0 0.5rem;
    color: var(--color-text-m);
    border-radius: 5px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-bg);
        cursor: pointer;
      }
    }

    &Active {
      color: var(--color-text-l);
    }
  }
}
