@import "@src/styles/variables";

.docs {
  padding: var(--content-padding);
  color: var(--color-text-xl);

  &Desc {
    padding: var(--content-padding);
    margin-bottom: 10px;
    font-size: 0.9em;
    line-height: 1.2em;
  }

  &BackBtn {
    display: inline-flex;
  }

  &Previos {
    display: inline;
    cursor: pointer;
  }

  &Header {
    margin: 1em 0;
    font-size: 1.2em;
    color: var(--color-text-l);
  }

  &SubHeader {
    margin: 1rem 0;
    color: var(--color-text-xm);
    font-size: 0.875rem;

    svg {
      font-weight: 400;
      margin-right: 0.5rem;
    }
  }

  &Desc {
    padding: var(--content-padding), 0;
    font-size: 0.875em;
    line-height: 140%;

    code {
      background-color: #f1f2f4;
      padding: 2px;
      border-radius: 4px;
      font-size: 0.875rem;
    }
  }

  &List {
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &Info {
    color: var(--color-secondary);
  }

  &ItemDesc {
    font-size: 0.875em;
    color: var(--color-text-l);
  }

  &LinkField,
  &LinkField:hover {
    color: var(--color-info);
  }

  &LinkType,
  &LinkType:hover {
    color: var(--color-primary);
  }

  &LinkField:hover,
  &LinkType:hover {
    text-decoration: underline;
    transition: all, 0.5s;
    cursor: pointer;
  }

  &OneArg {
    display: inline;
    font-size: 0.9em;
  }

  &MultyArg {
    display: block;
    padding-left: var(--content-padding);
    font-size: 0.9em;
  }

  &Warning {
    color: var(--color-error);
    font-size: 1.5em;
  }

  &Error {
    color: var(--color-text-l);
    line-height: 140%;
  }
}

.homeBtn {
  padding: 0 5px;
  
  &:hover {
    border-color: transparent;
  }
}

.Search {
  &Block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text-xl);

    input {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      flex: 1;
      padding: 0.5rem;
      padding-left: 2rem;
      background-color: transparent;
      border: 1px solid var(--color-text-m);
      outline: 1px solid transparent;
      outline: none;

      &:focus {
        width: calc(100% - 50px);
        background-color: var(--color-bg-light);
        transition: 500ms;

        & + .SearchIcon {
          right: calc(100% - 70px);
          transition: 500ms;
        }
      }
    }
  }

  &Icon {
    position: absolute;
    top: 8px;
    right: calc(30% - 20px);
  }

}

.clearBtn {
  display: block;
  position: absolute;
  right: 1px;
  top: 4px;
  height: calc(100% - 2px);
  width: 1.5rem;
  border-radius: 0;
  color: var(--color-error);

  &:disabled {
    display: none;
  }

  &:active:hover,
  &:active {
    background-color: var(--color-text-xs);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-text-s);
      border-color: transparent;
    }
  }
}

