@import "@src/styles/breakpoints";

.docsExplorer {
  &Panel {
    position: relative;
    display: none;
    flex-direction: row;
    border-left: 1px solid var(--color-text-xs);
    min-width: 200px;

    &Visible {
      display: flex;
      justify-content: flex-end;
    }

    @include sm-breakpoint {
      position: absolute;
      background: white;
      width: 100%;
      padding: 0 var(--content-padding);
      justify-content: center;
      border-left: none;
      top: var(--header-height);
      height: calc(100vh - var(--header-height));
    }
  }

  &Container {
    position: absolute;
    left: 0;
    flex: 1;
    width: calc(100% - var(--dragbar-width));
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
    pointer-events: all;

    @include sm-breakpoint {
      left: auto;
      border-radius: 10px;
      box-shadow: 0 5px 15px -10px var(--color-text);
    }
  }
}
