.radio {
  line-height: 200%;
  padding: 0 0.5rem;
  transition: 0.25s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-bg);
    }
  }

  input {
    display: none;
  }

  label {
    display: flex;
    column-gap: 0.5rem;

    & .check {
      opacity: 0;
      transition: 0.25s;
    }
  }

  input:checked ~ label {
    & .check {
      opacity: 1;
    }
  }
}
