.popup {
  display: none;
  position: absolute;
  z-index: 12;
  pointer-events: all;
  background: var(--color-bg-light);
  border-radius: 5px;
  box-shadow: 0 5px 15px -10px var(--color-text);
  max-width: 320px;
}
