.auth__pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
}
.auth__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 5px;
}
.auth__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: var(--color-text-s);
  background-color: #4caf50;
  cursor: pointer;

  transition: 0.25s;
  --color-loader: white;

  &:active {
    transform: translateY(1px);
  }

  @media (hover: hover) {
    &:hover {
      background-color: #43a047;
    }
  }
}
.auth__btn:disabled {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  cursor: not-allowed;
  background-color: var(--color-text-xm);
}

.auth__errorString {
  color: rgba(255, 0, 0, 0.8);
  margin-bottom: 5px;
  font-size: 14px;
}
