.button {
  border: 1px solid transparent;
  border-radius: 5px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-l);
  height: var(--button-size);
  transition: 0.25s;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      border-color: var(--color-text-xm);
    }
  }

  &:active,
  &Active {
    background-color: var(--color-primary-alpha50);
  }

  &Icon {
    width: var(--button-size);
  }

  &Text {
    width: auto;
    padding: 0 1rem;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--color-text-m);
  }

  &Inner {
    pointer-events: none;
  }
}

.button + .tooltip {
  --rt-opacity: 1;
  font-size: 14px;
  background: var(--color-text-l);
  color: var(--color-text-light);
  box-shadow: 0 5px 15px -10px var(--color-text);
  z-index: 100;
  transition: opacity 0.25s ease-out;
}
