.cm-gutters {
  background-color: inherit !important;
  border-right: none !important;
}

.cm-editor {
  background: transparent;
  outline: none !important;
}

.cm-theme-light {
  height: 100%;
  position: absolute;
  width: 100%;
}
