.tree {
  position: relative;

  &Item {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0 1.3em;
    border-left: 1px solid steelblue;
    background: transparent;
    list-style: square;
    list-style-type: square;
    list-style-position: inside;
    overflow: visible;
    box-sizing: border-box;
    transition: all 0.2s;
  }

  &Item:last-child {
    border-left: none;
  }

  &Header {
    margin-left: 1em;
  }
  
  &Directory:after {
    content: "";
    position: absolute;
    top: 0.6em;
    left: 0.5em;
    height: 0.7em;
    width: 0.6em;
    border-right: 1px solid steelblue;
    opacity: 1;
    transition: all 0.2s;
  }

  &Directory:after {
    transform: rotate(270deg) translateX(-0.25em);
    opacity: 0;
  }

  &Item::before {
    content: "";
    position: absolute;
    top: -0.5em;
    left: 0;
    height: 1em;
    width: 1em;
    border-bottom: 1px solid steelblue;
    transition: all 0.2s;
  }

  &Item:last-child::before {
    border-left: 1px solid steelblue;
    background: transparent;
  }

  &OpenBtn {
    position: absolute;
    left: -0.5em;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid black;
    border-radius: 0;
    background-color: #fff;
  }
}
