@import "@src/styles/variables";

.docs {
  padding: var(--content-padding);
  color: var(--color-text-xl);

  &Desc {
    padding: var(--content-padding);
    margin-bottom: 10px;
    font-size: 0.9em;
    line-height: 1.2em;
  }

  &BackBtn {
    display: inline-flex;
  }

  &Previos {
    display: inline;
  }

  &Header {
    padding: var(--content-padding);
    font-size: 1.3em;
    color: var(--color-primary);
  }

  &SubHeader {
    padding: var(--content-padding);
    font-weight: 600;

    svg {
      font-weight: 400;
    }
  }

  &Desc {
    padding: var(--content-padding), 0;
    font-size: 0.9em;
    line-height: 1.2em;
  }

  &List {
    line-height: 1.5em;
  }

  &Item:not(:first-child) {
    padding-top: var(--content-padding);
  }

  &Info {
    color: var(--color-info);
  }

  &ItemDesc {
    font-size: 0.9em;
  }

  &LinkField,
  &LinkType:hover {
    color: var(--color-primary);
  }

  &LinkType,
  &LinkType:hover {
    color: var(--color-secondary);
  }

  &LinkField:hover,
  &LinkType:hover {
    text-decoration: underline;
    transition: all, 0.5s;
    cursor: pointer;
  }

  &OneArg {
    display: inline;
    font-size: 0.9em;
  }

  &MultyArg {
    display: block;
    padding-left: var(--content-padding);
    font-size: 0.9em;
  }

  &Warning {
    color: var(--color-error);
    font-size: 1.5em;
  }

}